name: Android Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - run: chmod +x gradlew

      - run: ./gradlew assembleRelease --no-daemon

      - run: ./gradlew bundleRelease --no-daemon

      - uses: actions/upload-artifact@v4
        with:
          name: release-files
          path: app/build/outputs/
